AB_FACTOR_HOST=127.0.0.1
AB_FACTOR_PORT=8100
AB_FACTOR_CORS_ORIGINS=*

AB_FACTOR_CLICKHOUSE_HOST=127.0.0.1
AB_FACTOR_CLICKHOUSE_PORT=8123
AB_FACTOR_CLICKHOUSE_USER=default
AB_FACTOR_CLICKHOUSE_PASSWORD=
AB_FACTOR_CLICKHOUSE_DATABASE=ab_factor
