AB_FACTOR_HOST=127.0.0.1
AB_FACTOR_PORT=8100
AB_FACTOR_CORS_ORIGINS=*

AB_FACTOR_CLICKHOUSE_HOST=172.16.0.68
AB_FACTOR_CLICKHOUSE_PORT=8123
AB_FACTOR_CLICKHOUSE_USER=default
AB_FACTOR_CLICKHOUSE_PASSWORD=
AB_FACTOR_CLICKHOUSE_SECURE=false
AB_FACTOR_CLICKHOUSE_DATABASE=ab_factor

AB_FACTOR_SOURCE_DATABASE=baostock
AB_FACTOR_STOCK_DAILY_TABLE=stock_daily_real
AB_FACTOR_STOCK_CODE_COLUMN=code
AB_FACTOR_STOCK_DATE_COLUMN=trade_time
AB_FACTOR_STOCK_PRICE_COLUMN=close
AB_FACTOR_STOCK_BASIC_TABLE=bs_stock_basic
AB_FACTOR_STOCK_BASIC_TYPE_COLUMN=type
AB_FACTOR_STOCK_BASIC_STOCK_TYPE_VALUE=1
